backcall==0.1.0
beautifulsoup4==4.6.3
decorator==4.3.0
html5lib==1.0.1
htmlmin==0.1.12
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
numpy==1.15.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
pox==0.2.4
ppft==1.6.4.8
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.0
pymongo==3.7.2
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
